body {
    background-color: rgb(129, 69, 146);
    color: white;
}

.header {
    text-align: center;
    margin-bottom: 24px;
}

.task-create {
    width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.task-create h3 {
    font-size: 22px;
}

.create-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-form input,
.create-form textarea {
    width: 80%;
    border-radius: 8px;
    outline: 0;
    padding: 4px;
}

.create-form input,
.create-form label,
.create-form textarea {
    margin-block: 5px;
    font-weight: 600;
    font-size: 16px;
}

.btn-create {
    padding: 17px 28px;
    background-color: rgb(11, 166, 22);
    color: white;
    border: 0;
    border-radius: 8px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.6s all;
}

.btn-update {
    background-color: blueviolet;
}

.btn-create:hover {
    background-color: rgba(11, 166, 22, 0.8);
    scale: 0.94;
}

.btn-update:hover {
    background-color: rgb(121, 65, 170);
}

.task-list {
    gap: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.task-card {
    width: 360px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px 2px;
}

.task-card h3 {
    margin: 8px;
    font-size: 1.4rem;
}

.task-card p {
    margin: 4px;
    font-size: 1.1rem
}

.card-btn-box {
    display: flex;
    margin-top: 10px;
    gap: 40px;
}

.card-btn {
    width: 120px;
    padding-block: 12px;
    color: white;
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s ease;
}

.card-btn:hover {
    scale: 0.95;
}

.task-update {
    width: 120%;
}

.task {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}